{% extends "base.html" %}
{% block content %}

    <ul class="collapsible">
        {% for task in tasks %}
            <li>
                <div class="collapsible-header blue lighten-4">
                    <i class="fas fa-caret-down"></i>
                    <stong>{{ task.task_name }}</stong> : {{ task.due_date }}
                    {% if task.is_urgent == "on" %}
                        <i class="fas fa-exclamation-circle tooltipped"
                            data-position="right" data-tooltip="URGENT!"></i>
                    {% endif %}
                </div>
                <div class="collapsible-body">
                    <strong>{{ task.category_name }}</strong>
                    <p>{{ task.task_description }}</p>
                </div>
            </li>
        {% endfor %}
      </ul>

{% endblock %}  
